.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: var(--bg-color);
    overflow: hidden;
}

.main {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
}